
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.panel {
    background-color: #ddd;
    display: flex;
    flex-flow: column;
    width: 49%;
    justify-content: center;
    align-items: center;
}

h2 {
    text-align: center;
}

.profilePic {
    height: 250px;
    width: 250px;
}

input {
    font-size: 24px;
    width: 70%;
    padding: 8px 8px;
    margin: 8px;
    box-sizing: border-box;
}

.alertMsg {
    display: inline-block;
    height: 20px;
    color: red;
    font-style: italic;
}